@import '../../Common/scss/abstract.scss';

.list {
  flex: 1 0;
  overflow: auto;
  background: color($grey, 800);

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}