@import '../../Common/scss/abstract.scss';

.list {
  position: relative;
  flex: 1 1 100%;
  overflow: auto;
  width: 80%;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}