@import '../../../Common/scss/abstract.scss';

.item {
  position: relative;
  flex: 0 1 20%;
  overflow: hidden;

  .r1x1 {
    @extend %r1x1;
  }

  .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    @extend %fullSize;
    padding: rem(10px);

    // display: flex;
    align-items: center;

  }

  img {
    object-fit: fill;
  }

  .controls {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
  }

  i {
    background: color($grey, 800);
    color: color($grey, 600);
    padding: 3px;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
      background: color($grey, 300);
      color: color($grey, 900);
    }
  }
}