/* ********************************
  Colors Objects
  500 is the regular
*/

$_error-color : repeating-linear-gradient(to right,red,red 5px,transparent 5px,transparent 10px),rgb(255,200,200);

$black : (
  500 : #000,
);

$white : (
  500 : #fff,
);

$grey : (
  100 : #f2f2f2,
  200 : #d8d8d8,
  300 : #bfbfbf,
  400 : #a6a6a6,
  500 : #8c8c8c,
  600 : #737373,
  700 : #595959,
  800 : #404040,
  900 : #262626
);

$red : (
  100 : #ffe5e5,
  200 : #ffb2b2,
  300 : #ff7f7f,
  400 : #ff4c4c,
  500 : #ff0000,
  600 : #e50000,
  700 : #b20000,
  800 : #990000,
  900 : #660000
);

$green : (
  100 : #e5f2e5,
  200 : #99cc99,
  300 : #66b266,
  400 : #329932,
  500 : #008000,
  600 : #007300,
  700 : #006600,
  800 : #004c00,
  900 : #003300
);