/**
  @function Color
  @shortcut map-get for color by degree
 */
@function color($col, $degree : 500, $opacity : 1) {
  $c : map-get($col, $degree);
  
  @if $c == null {
    @return $_error-color;
  }

  @return rgba($c, $opacity)
};

/**
  @function rem
  
 */
@function rem($px) {
  @return #{$px/$baseFontSize}rem;
}

/**

 */
@mixin removeWhiteSpace {
  font-size: 0;
  & > * {
    font-size: rem($baseFontSize);
  }
}